<div class="container">
  <div class="row mt-3">
    <h3>Edit Comment</h3>
  </div>
  <hr>

  <!-- 輸入回覆內容 -->
  <%= form_for [@post, @comment] do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "Add content?", class: "form-control" %>
    </div>

    <div class="form-group float-right">
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= f.button "Clear", type: :reset, class: "btn btn-light" %>
    </div>
  <% end %>
</div>
