<div class="container">
  <br>
  <%= render partial: "shared/user_content" %>

  <br>
  <%= render partial: "shared/user_nav_tabs" %>

  <br>

  <!-- 文章列表 -->
  <%= render partial: "shared/user_post" %>
</div>
