<div class="container">
  <div class="row">
    <h3><%= @post.title %></h3>

    <div class="ml-auto">
      <%= link_to "Collect#dev", root_path, class: "btn btn-primary" %>
      <button type="button" name="button" class="btn btn-info">Comment#dev</button>
    </div>
  </div>
  <hr>
    <%= render partial: "shared/post_content", locals: {post_object: @post} %>

    <% if @comments != nil %>
      <% @comments.each do |comment| %>
        <%= render partial: "shared/post_content", locals: {post_object: comment} %>
      <% end %>
    <% end %>
</div>
